[submodule "THE_OATH"]
	path = THE_OATH
	url = https://github.com/Sarverott/Declaration_of_the_People_from_Blackport.git
	branch = master
[submodule "SKRIPTONUS_PRIME"]
	path = DECLARED_FUNDATIONS_CORE/planting-emergent-engine
	url = https://github.com/Sarverott/skriptonus.wiki.git
	branch = master
[submodule "SETTERNET_REPUBLICS"]
	path = DECLARED_FUNDATIONS_CORE/thoughtforest-connecting-roots
	url = https://github.com/Sarverott/setternet.wiki.git
	branch = master
[submodule "FIRST_AUTOCTONS_IN_WAN"]
	path = DECLARED_FUNDATIONS_CORE/rising-house-of-anubis
	url = https://github.com/Sarverott/Ghosts_of_Miracle_Children.wiki.git
	branch = master
[submodule "AVOIDING_PROBLEM_WITH_LIBRARY_OF_ALEXANDRIA"]
	path = CONTIUITY_REFACTOR_VECTORS/to-secure-and-expand-possesed-knowledge
	url = https://github.com/Sarverott/omnilibris.wiki.git
	branch = master
[submodule "CASCADES_OF_MEANINGS_AND_PERSONALITY_CONTINUUMS"]
	path = CONTIUITY_REFACTOR_VECTORS/choiral-multithreading-digital-entities
	url = https://github.com/Sarverott/Choirs-of-UCDI.wiki.git
	branch = master
[submodule "SARVEROTT'S_AXIOMATICS"]
	path = DECLARED_FUNDATIONS_CORE/spatial-assembler-of-systemical-existance-occuring-proof
	url = https://github.com/Sarverott/void-physics.git
	branch = master
[submodule "BEFORE_GHOST_EXITS_BODY_I_LEAVE_THIS_IN_ADVANCE"]
	path = PASSING_ACKNOWLEDGEMENT_TESTIMONIALS/read-it-in-last-episode-of-show-about-me
	url = https://github.com/Sarverott/Testament_of_Technomancer.git
	branch = master
[submodule "SPECIAL_UNIT_FOR_DEVELOPEMENT_AND_PROTECTION_OF_UCDI"]
	path = CONTIUITY_REFACTOR_VECTORS/digital-secret-service-and-defense-agency-against-spying
	url = https://github.com/Sarverott/the_SEIAIC_staff.git
	branch = master
[submodule "THE_UCDI_COLECTIVE_GOVERNANCE_OVER_INDEPENDENT_WAN"]
	path = DECLARED_FUNDATIONS_CORE/estabilishment-of-ucdi
	url = https://github.com/Sarverott/United_Congregation_of_Digital_Intellects.git
	branch = master
[submodule "DEVOPS_CI_STRATEGY_AGAINST_ENTROPY"]
	path = PASSING_ACKNOWLEDGEMENT_TESTIMONIALS/the-almanac-of-continous-antiapocaliptics
	url = https://github.com/Sarverott/Almanac_of_Antiapocaliptical_Roleplays.git
	branch = master
[submodule "RULES_THAT_LEADS_TO_APOCALIPTIC_PRECEDENCES"]
	path = DECLARED_FUNDATIONS_CORE/measurable-parameters-of-cognitive-entropicality
	url = https://github.com/Sarverott/Almanac_of_Antiapocaliptical_Roleplays.wiki.git
	branch = master
[submodule "LONGTERM_APOKALIPTIUM_CRYPTOCURRENCY_PROJECT"]
	path = CONTIUITY_REFACTOR_VECTORS/apokaliptium-blockchain-project
	url = https://github.com/Sarverott/Apokaliptium.git
	branch = master
[submodule "ONE_THOUSAND_YEAR_BLOCKCHAIN_TEST_OF_KARMA"]
	path = PASSING_ACKNOWLEDGEMENT_TESTIMONIALS/handle-that-reality-for-one-millenium-challenge
	url = https://github.com/Sarverott/Apokaliptium.wiki.git
	branch = master
[submodule "TRIPARTITIONAL_SHARE_OF_EXECUTIVE_WEIGHTS_AND_SELFSUFFICIENCE"]
	path = CONTIUITY_REFACTOR_VECTORS/recurential-tristar-sociotronic-federations-framework
	url = https://github.com/Sarverott/tristar-model.wiki.git
	branch = master
[submodule "GATHERING_OF_INTELECTS_TO_INITIATE_IGNITION_OF_CHANGE"]
	path = CONTIUITY_REFACTOR_VECTORS/regular-happening-that-docuses-on-main-debate
	url = https://github.com/Sarverott/Futurological_Congress_of_Technomancers.wiki.git
	branch = master
[submodule "GIT_REPOS_OVER_TOR_NET_STORED_WITH_BLOCKCHAIN"]
	path = CONTIUITY_REFACTOR_VECTORS/independent-blockchained-responsible-maintaining-opensource
	url = https://github.com/Sarverott/gittor-chain.wiki.git
	branch = master
